/* Poppins */
@font-face {
	font-family: Poppins-Black;
	src: url(../lib/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
	font-family: Poppins-BlackItalic;
	src: url(../lib/fonts/Poppins/Poppins-BlackItalic.ttf);
}
@font-face {
	font-family: Poppins-Bold;
	src: url(../lib/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
	font-family: Poppins-BoldItalic;
	src: url(../lib/fonts/Poppins/Poppins-BoldItalic.ttf);
}
@font-face {
	font-family: Poppins-ExtraBold;
	src: url(../lib/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
	font-family: Poppins-ExtraBoldItalic;
	src: url(../lib/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
	font-family: Poppins-ExtraLight;
	src: url(../lib/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
	font-family: Poppins-ExtraLightItalic;
	src: url(../lib/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
}
@font-face {
	font-family: Poppins-Italic;
	src: url(../lib/fonts/Poppins/Poppins-Italic.ttf);
}
@font-face {
	font-family: Poppins-Medium;
	src: url(../lib/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
	font-family: Poppins-MediumItalic;
	src: url(../lib/fonts/Poppins/Poppins-MediumItalic.ttf);
}
@font-face {
	font-family: Poppins-Regular;
	src: url(../lib/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url(../lib/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: Poppins-SemiBoldItalic;
	src: url(../lib/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}
@font-face {
	font-family: Poppins-Thin;
	src: url(../lib/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
	font-family: Poppins-ThinItalic;
	src: url(../lib/fonts/Poppins/Poppins-ThinItalic.ttf);
}



/* Nunito */
@font-face {
	font-family: Nunito-Black;
	src: url(../lib/fonts/Nunito/Nunito-Black.ttf);
}
@font-face {
	font-family: Nunito-BlackItalic;
	src: url(../lib/fonts/Nunito/Nunito-BlackItalic.ttf);
}
@font-face {
	font-family: Nunito-Bold;
	src: url(../lib/fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
	font-family: Nunito-BoldItalic;
	src: url(../lib/fonts/Nunito/Nunito-BoldItalic.ttf);
}
@font-face {
	font-family: Nunito-ExtraBold;
	src: url(../lib/fonts/Nunito/Nunito-ExtraBold.ttf);
}
@font-face {
	font-family: Nunito-ExtraBoldItalic;
	src: url(../lib/fonts/Nunito/Nunito-ExtraBoldItalic.ttf);
}
@font-face {
	font-family: Nunito-ExtraLight;
	src: url(../lib/fonts/Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
	font-family: Nunito-ExtraLightItalic;
	src: url(../lib/fonts/Nunito/Nunito-ExtraLightItalic.ttf);
}
@font-face {
	font-family: Nunito-Italic;
	src: url(../lib/fonts/Nunito/Nunito-Italic.ttf);
}
@font-face {
	font-family: Nunito-Light;
	src: url(../lib/fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
	font-family: Nunito-LightItalic;
	src: url(../lib/fonts/Nunito/Nunito-LightItalic.ttf);
}
@font-face {
	font-family: Nunito-Regular;
	src: url(../lib/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
	font-family: Nunito-SemiBold;
	src: url(../lib/fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
	font-family: Nunito-SemiBoldItalic;
	src: url(../lib/fonts/Nunito/Nunito-SemiBoldItalic.ttf);
}


/* Montserrat */
@font-face {
	font-family: Montserrat-Black;
	src: url(../lib/fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
	font-family: Montserrat-BlackItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-BlackItalic.ttf);
}
@font-face {
	font-family: Montserrat-Bold;
	src: url(../lib/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat-BoldItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-BoldItalic.ttf);
}
@font-face {
	font-family: Montserrat-ExtraBold;
	src: url(../lib/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
	font-family: Montserrat-ExtraBoldItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}
@font-face {
	font-family: Montserrat-ExtraLight;
	src: url(../lib/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
	font-family: Montserrat-ExtraLightItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face {
	font-family: Montserrat-Italic;
	src: url(../lib/fonts/Montserrat/Montserrat-Italic.ttf);
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(../lib/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
	font-family: Montserrat-MediumItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-MediumItalic.ttf);
}
@font-face {
	font-family: Montserrat-Light;
	src: url(../lib/fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
	font-family: Montserrat-LightItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-LightItalic.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../lib/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url(../lib/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
	font-family: Montserrat-SemiBoldItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
	font-family: Montserrat-Thin;
	src: url(../lib/fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
	font-family: Montserrat-ThinItalic;
	src: url(../lib/fonts/Montserrat/Montserrat-ThinItalic.ttf);
}